footer.footer
  .footer-bottom
    .footer-bottom__inner.container
      .footer-bottom-block
        .footer-right 
          .footer-email 
            a(href="mailto:hello@hatynka.com") hello@hatynka.com
          .footer-phone 
            a(href="tel:+380971234567") + 38 097 123 45 67
          .footer-social
            a(href='fb').footer-social-link.social-fb
              +svg('fb')
            a(href='instagram').footer-social-link.social-instagram
              +svg('instagram')
            a(href='fb').footer-social-link.social-youtube
              +svg('youtube')
            a(href='fb').footer-social-link.social-telegram
              +svg('telegram')
        .footer-links 
          a(href="#") Інфографіка
          a(href="/#location") Про фонд
          a(href="/#development-video") Про Хатинку
          a(href="/#details-main") Галерея
          a(href="/#news-home") Долучитись
          a(href="/#development-video") Новини
          a(href="/#details-main") Документи
          a(href="/#news-home") FAQ
        .footer-up 
          a(href="#")
            +svg ('arrow-top')
      .footer-bottom-additional
        p.footer-copy ©2022 “HATYNKA FOUNDATION”
        .footer-dev
          a(href="https://smarto.agency/" rel="nofollow" target="_blank").footer-dev__link
            +svg ('logo_smart_orange')
